.forms {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
  background-color: $colorGreyL2;
  text-align: left;
  &__description {
    padding-bottom: 100px;
    width: 500px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 5rem 2rem;

    &__input {
      margin-top: 35px;
      border: none;
      height: 50px;
      width: 600px;
      padding: 20px;
    }
    &__flex {
      display: flex;
      &__input {
        margin-top: 35px;
        margin-right: 20px;
        border: none;
        height: 50px;
        width: 290px;
        padding: 20px;
      }
    }
    &__textArea {
      margin: 35px 0;
      border: none;
      height: 180px;
      width: 600px;
      padding: 20px;
    }
  }
}
