.no1 {
  background: url("../images/portfolio-1-sm.jpg") no-repeat center;
  background-size: cover;
}
.no2 {
  background: url("../images/portfolio-2-sm.jpg") no-repeat center;
  background-size: cover;
}
.no3 {
  background: url("../images/portfolio-3-sm.jpg") no-repeat center;
  background-size: cover;
}
.no4 {
  background: url("../images/portfolio-4-sm.jpg") no-repeat center;
  background-size: cover;
}
.no5 {
  background: url("../images/portfolio-5-sm.jpg") no-repeat center;
  background-size: cover;
}
.no6 {
  background: url("../images/portfolio-6-sm.jpg") no-repeat center;
  background-size: cover;
}
.no7 {
  background: url("../images/portfolio-7-sm.jpg") no-repeat center;
  background-size: cover;
}
.no8 {
  background: url("../images/portfolio-8-sm.jpg") no-repeat center;
  background-size: cover;
}
.no9 {
  background: url("../images/portfolio-9-sm.jpg") no-repeat center;
  background-size: cover;
}

.dir1 {
  background: url("../images/post-1-mid.jpg") no-repeat center;
  background-size: cover;
}

.dir2 {
  background: url("../images/post-2-mid.jpg") no-repeat center;
  background-size: cover;
}

.dir3 {
  background: url("../images/post-3-mid.jpg") no-repeat center;
  background-size: cover;
}
